.email_templates {
  display: flex;
  margin-right: 10px;

  &__list {
    list-style: none;
    padding: 0;

    & li {
      padding: 0 5px;
      background: #2c6dcf;
      border-bottom: 1px solid grey;
      color: #ffffff;
      font-size: 18px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
      margin-bottom: 2px;
    }

    & li:last-child {
      border-bottom: none;
    }

    & li:first-child {
      padding-top: 0;
    }
  }

  &__editors-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
}

.list_add_new_btn {
  padding: 0 5px;
  background: #2c6dcf;
  border-bottom: 1px solid grey;
  color: #ffffff;
  font-size: 18px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
  margin-bottom: 2px;
}

.window-wrapper {
  background-color: white;
}

.window-wrapper.fullScreen {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 11 !important;
}

.editor-wrapper {
  width: 400px;
  height: 36vh;
  margin-bottom: 35px;
}

.preview-wrapper {
  height: 77vh;
  width: 450px;
  margin-bottom: 35px;
}

.button-group {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.panel {
  display: flex;
  justify-content: flex-end;
  background-color: #2c6dcf;
  color: white;
  height: 25px;
}

.resizer {
  margin: 2px 2px 2px 0;
}

.list-buttons {
  width: 250px;
  height: 81vh;
  overflow: hidden;
  overflow-y: scroll;
  margin-right: 10px;
}

.list-input {
  margin-right: 5px;
}

.code-editor {
  width: 100%;
  height: 100%;
}

#preview_frame {
  width: 100%;
  height: 100%;
}

.zoom-select {
  margin-right: 4px;
  margin-top: 2px;
  color: #2c6dcf;
  height: 20px;
}

.zoom-label {
  margin-right: 4px;
}

.preview-block {
  &__action-buttons {
    display: flex;
    justify-content: flex-end;
  }
}
