<template>
  <div class="email_templates">
    <template-list
        :list="templateList"
        @choose="choose"
        @createNew="createNew"
    />
    <div class="email_templates__editors-group">
      <window-wrapper class="editor-wrapper">
        <template>
          <template-json-editor/>
        </template>
      </window-wrapper>
      <window-wrapper class="editor-wrapper">
        <template>
          <template-ejs-editor :initialData="templateEjs"
          />
        </template>
      </window-wrapper>
    </div>
    <div class="preview-block">
      <window-wrapper class="preview-wrapper">
        <template #zoom>
          <label class="zoom-label">
            zoom:
            <select
                class="zoom-select"
                size="1"
                v-model="zoomValue"
                @change="zoom(zoomValue)"
            >
              <option
                  v-for="value in zoomValues"
                  :value="value"
              >
                {{ value }}%
              </option>
            </select>
          </label>
        </template>
        <template>
          <template-preview :templateHTML="html"/>
        </template>
      </window-wrapper>
      <div class="preview-block__action-buttons">
        <button
            class="btn btn-bordered-primary btn-sm"
            :disabled="!currentTemplateName"
            @click="remove"
        >
          remove
        </button>
        <button
            class="btn btn-bordered-primary btn-sm"
            :disabled="!isJsonDataChanged && !isEjsDataChanged"
            @click="push"
        >
          push
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions, mapMutations} from 'vuex'
import TemplateList from './TemplateList'
import TemplatePreview from './TemplatePreview'
import TemplateJsonEditor from './TemplateJsonEditor'
import TemplateEjsEditor from './TemplateEjsEditor'
import WindowWrapper from "../components/WindowWrapper";
import ejs from 'ejs'

export default {
  name: 'templates',
  components: {
    WindowWrapper,
    TemplateList,
    TemplatePreview,
    TemplateJsonEditor,
    TemplateEjsEditor
  },
  data() {
    return {
      currentTemplateName: null,
      zoomValue: 100,
      zoomValues: [25, 50, 75, 100, 125, 150]
    }
  },
  computed: {
    ...mapState('templates', [
          'templateJson',
          'templateEjs',
          'templateList',
          'originTemplateJson',
          'originTemplateEjs',
        ]
    ),
    iframe() {
      return document.getElementById('preview_frame')
    },
    isJsonDataChanged() {
      return JSON.stringify(this.originTemplateJson) !== JSON.stringify(this.templateJson);
    },
    isEjsDataChanged() {
      return this.originTemplateEjs !== this.templateEjs;
    },
    html() {
      return ejs.render(this.templateEjs, this.templateJson);
    }
  },
  methods: {
    ...mapActions('templates', [
      'fetchTemplateList',
      'updateTemplate',
      'fetchTemplate',
      'createTemplate',
      'deleteTemplate'
    ]),
    ...mapMutations('templates', [
      'setTemplateEjs',
      'setTemplateJson'
    ]),
    zoom(zoomNumber) {
      this.iframe.contentWindow.document.body.style = `zoom:${zoomNumber}%;`;
    },
    choose(name) {
      this.currentTemplateName = name;
      this.$router.push({query: {template: this.currentTemplateName}});
      this.fetchTemplate(name);
    },
    createNew(name) {
      this.currentTemplateName = name;
      this.setTemplateEjs('');
      this.setTemplateJson('');
      this.createTemplate({name})
    },
    remove() {
      this.deleteTemplate({name: this.currentTemplateName})
    },
    push() {
      this.updateTemplate({
        name: this.currentTemplateName,
        isJsonDataChanged: this.isJsonDataChanged,
        isEjsDataChanged: this.isEjsDataChanged
      });
    }
  },
  created() {
    this.fetchTemplateList();
  }
}
</script>
<style lang="scss">
@import "../styles/index";
</style>
