<template>
  <div class="list-buttons">
    <input class="list-input" type="text" placeholder="type there new template..." v-model="newTemplateName">
    <button class="list_add_new_btn" @click="createNew">+</button>
    <ul class="email_templates__list"
        v-for="(el, i) in list"
    >
      <li
          :key="i"
          @click="fetchData(el)"
      >
        <span class="el">{{ el }}</span>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'TemplateList',
  props: ['list'],
  data: () => {
    return {
      newTemplateName: '',
    }
  },
  methods: {
    createNew() {
      this.$emit('createNew', this.newTemplateName);
    },
    fetchData(el) {
      this.$emit('choose', el)
    }
  }
}
</script>
<style>
@import "../styles/index.scss";
</style>
