<template>
  <iframe
      id="preview_frame"
      :srcdoc="templateHTML"
  />
</template>

<script>
export default {
  name: 'preview',
  props: ['templateHTML'],
}
</script>

<style lang="scss">
@import "../styles/index";
</style>
