<template>
  <code-editor
      class="code-editor"
      v-model="templateJson"
      mode="javascript"
  />
</template>

<script>
import CodeEditor from '../components/CodeEditor.vue'

export default {
  name: "TemplateJsonEditor",
  components: {
    CodeEditor
  },
  computed: {
    templateJson: {
      get() {
        return JSON.stringify(this.$store.state.templates.templateJson)
      },
      set(value) {
        this.$store.commit('templates/setTemplateJson', JSON.parse(value))
      },
    },
  },
}
</script>

<style scoped>
@import "../styles/index.scss";
</style>
