<template>
  <code-editor
      class="code-editor"
      v-model="templateHTML"
      mode="htmlmixed"
  />
</template>

<script>
import CodeEditor from '../components/CodeEditor.vue'

export default {
  name: "TemplateEjsEditor",
  components: {
    CodeEditor
  },
  props: ['initialData'],
  computed: {
    templateHTML: {
      get() {
        return this.$store.state.templates.templateEjs;
      },
      set(value) {
        return this.$store.commit('templates/setTemplateEjs', value);
      }
    },
  },
}
</script>
<style lang="scss">
@import "../styles/index";
</style>
