<template>
  <div
      ref="editor"
      class="editor"
  >
  </div>
</template>

<script>
import 'codemirror/lib/codemirror.css'
import 'codemirror/theme/neat.css'
import CodeMirror from 'codemirror/lib/codemirror'
import 'codemirror/mode/htmlmixed/htmlmixed'
import 'codemirror/mode/javascript/javascript'
import Templates from "../pages/index";

export default {
  components: {Templates},
  props: {
    value: String,
    mode: String
  },
  data() {
    return {
      editor: null
    }
  },
  mounted() {
    this.editor = CodeMirror(this.$refs.editor, {
      theme: 'neat',
      lineNumbers: true,
      lineWrapping: true,
      autocorrect: true,
      mode: {
        name: this.mode,
        json: true
      }
    })
    this.editor.setValue(this.value)
    this.editor.setSize('100%', '100%')
    this.editor.on('change', () => {
      this.$emit(
          'input',
          this.editor.getValue()
      )
    })
  },
  watch: {
    value() {
      if (this.editor.getValue() !== this.value) {
        this.editor.setValue(this.value)
      }
    }
  }
}
</script>
