<template>
  <svg>

    <use
        xlink:href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fcdn.icon-icons.com%2Ficons2%2F37%2FPNG%2F512%2Fcollapsearrow_colapso_3252.png&imgrefurl=https%3A%2F%2Ficon-icons.com%2Fru%2F%25D0%25B7%25D0%25BD%25D0%25B0%25D1%2587%25D0%25BE%25D0%25BA%2F%25D1%2581%25D0%25B2%25D0%25B5%25D1%2580%25D0%25BD%25D1%2583%25D1%2582%25D1%258C-%25D1%2581%25D1%2582%25D1%2580%25D0%25B5%25D0%25BB%25D0%25BA%25D1%2583-colapso%2F2690&tbnid=26VA2PFcnYz2rM&vet=12ahUKEwjLluakutnrAhULuSoKHT0dC3IQMygGegUIARCfAQ..i&docid=qc72Y-PVWQLkeM&w=512&h=512&q=%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0%20%D1%81%D0%B2%D0%B5%D1%80%D0%BD%D1%83%D1%82%D1%8C&hl=ru&ved=2ahUKEwjLluakutnrAhULuSoKHT0dC3IQMygGegUIARCfAQ"
        :width="width" :height="height"></use>
  </svg>
</template>

<script>
export default {
  name: "icon",
  props: ['href', 'width', 'height']
}
</script>

<style scoped>

</style>