<template>
  <div class="window-wrapper" :class="mode">
    <div class="panel">
      <slot name="zoom"/>
      <button
          @click="toggle_fullscreen"
      >
        <img
            width="12px"
            height="12px"
            src="../static/expand.png"
        />
      </button>
    </div>
    <slot/>
  </div>
</template>

<script>
import icon from "@/components/icon";

export default {
  name: "window-wrapper",
  components: {
    icon
  },
  data() {
    return {
      isFullScreen: false,
    }
  },
  computed: {
    mode() {
      return this.isFullScreen ? 'fullScreen' : ''
    },
  },
  methods: {
    toggle_fullscreen() {
      this.isFullScreen = !this.isFullScreen;
    }
  }
}
</script>

<style lang="scss">
@import "../styles/index";
</style>
