<template>
  <div id="root">
    <email-templates></email-templates>
  </div>
</template>

<script>
import EmailTemplates from "@/pages"

export default {
  components: {
    EmailTemplates
  }
}
</script>